.about{
    width: 97%;
    height: 80vh;
    /* overflow: scroll; */
    /* border: 2px solid red; */
    margin: auto;
    margin-top: 2.3rem;
}

.about__container{
    background-color: white;
    /* width: 100%; */
    height: 80vh;
    /* overflow: scroll; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .5rem .8rem;
}