

.library__container{
    display: flex;
    /* border: 2px solid blue; */
    height: 98%;
}

.about__container__left__container{
    /* border: 2px solid green; */
    width: 25%;
    padding: .5rem;
}
.about__container__right__container{
    /* border: 2px solid green; */
    width: 75%;
    padding: .5rem;

}

.about__container__left{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.image__container{
    /* border: 2px solid red; */
    width: 75%;
}

.image__container img{
    width: 100%;
}

.paragraph__container{
    /* border: 2px solid red; */
    width: 75%;

}